@{
    IEnumerable<SelectListItem> Asientos = new SelectList(@ViewBag.Asientos, "Id", "Asiento");
}

<div class="col-md-12">
    <div class="form-group">
        <label>Asiento</label>
        @Html.DropDownList("IdAsiento", Asientos, "-- Seleccionar --", new { @class = "form-control" })
    </div>
</div>

<script>
    $("#IdAsiento").change(function (e) {
        $.get('@Url.Action("AsientosPrevio", "Venta")', { idHorario: $("#IdHorario").val(), asiento: $("#IdAsiento").val() }).
            success(function (resultado) { $("#VistaAsientos").html(resultado); })
    });
</script>