@model SystranHorizonte.Models.Cliente

<div class="col-md-12">
    <div class="form-group">
        <label>Nombre</label>
        <input name="Nombres" id="Nombres" class="form-control" value="@Model.Nombre" />
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Apellidos</label>
        <input name="Apellidos" id="Apellidos" class="form-control" value="@Model.Apellidos" />
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Telefono</label>
        <input name="Telefono" id="Telefono" class="form-control" value="@Model.Telefono" />
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label>Direccion</label>
        <input name="Direccion" id="Direccion" class="form-control" value="@Model.Direccion" />
    </div>
</div>