<div class="jumbotron">
    <h1 style="padding-left:20px">Transportes Horizonte</h1>
    <p class="lead" style="padding-left:20px">Empresa que brinda servicios de transporte regional y nacional, de igual manera encomiendas y ...</p>
    <p style="padding:10px; padding-right:20px"><a class="btn btn-lg btn-success pull-right" href="#" role="button">Contactanos</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Ventas</h2>
        <p>Se define como el proceso en el que una persona(vendedor) satisface la necesidad de su cliente(comprador).</p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Encomiendas</h2>
        <p>Se define como el proceso de recibir y/o enviar un encargo o remesa al destino solicitado, presentando una identificacion por parte del cliente para respaldar la autenticidad del bien recibido en la empresa.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Reservas</h2>
        <p>La reserva es un servicio que permite la anticipacion de comprar un pasaje, para asegurar un asiento que este disponible a preferencia del usuario, evitando de este modo ir a la estacion de la empresa, y a la vez ahorrar un costo para el cliente.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
    </div>
    @*<div class="col-lg-4">
        <h2>Insumos</h2>
        <p>El insumo es todo aquello disponible para el uso y el desarrollo de la vida humana, desde lo que encontramos en la naturaleza, hasta lo que creamos nosotros mismos, es decir la materia prima de una cosa.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Recursos Humanos</h2>
        <p>Recursos Humanos está compuesta por áreas tales como reclutamiento y selección, contratación, capacitación, administración o gestión del personal durante la permanencia en la empresa.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
    </div>*@
</div>