@model SystranHorizonte.Models.Cliente

<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Direccion</label>
            <input type="text" name="Direccion" class="form-control" placeholder="Jr. San Miguel 452" value="@Model.Direccion" />
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Nombre*</label>
            <input type="text" name="Nombre" pattern="[a-zA-Z\sáéíóúñüàè]+" class="form-control" placeholder="Carlos" required value="@Model.Nombre" />
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Telefono</label>
            <input type="tel" name="Telefono" class="form-control" placeholder="076 365458" value="@Model.Telefono" />
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Apellidos*</label>
            <input type="text" name="Apellidos" pattern="[a-zA-Z\sáéíóúñüàè]+" class="form-control" placeholder="Alberto" required value="@Model.Apellidos" />
        </div>
    </div>
</div>