<div class="col-md-6">
    <div class="col-md-12">
        <div class="form-group">
            <label>Asientos</label>
            <input type="text" name="Asientos" class="form-control" placeholder="13" readonly="true" value="@ViewBag.asientos" />
        </div>
    </div>
</div>